.TiraCafe{
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background: rgb(230,12,35);
  background: linear-gradient(90deg, rgba(230,12,35,1) 0%, rgba(0,0,0,1) 100%);

}

.desbugaCafe{
  float: left;
}

li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

li a:hover{
  background-color: blue;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a{
  display: block;
  text-align: left;
  padding: 12px 16px;
}

.dropdown:hover .dropdown-content{
  display: block;
  background-color: black;
}




.Centro{
    color: red;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
  }

  li{
    font-size: 20px;
  }

.titulo{
  color: black ;
  font-weight: bolder;        
  font-size: 17px;
  font-family:'Times New Roman', Times, serif 
}
.nome{
  color: blue ;
  font-weight: bold;
  display: block;
}
.idade{
  color: blue ;
  font-weight: bold;
  display: block;
}
.uf{
  color: blue ;
  font-weight: bold;
  display: block;
}
.estadoCivil{
  color: blue ;
  font-weight: bold;
  display: block;
}
.idiomas{
  color: blue ;
  font-weight: bold;
  display: block;
}
.cidadeNasc{
  color: blue ;
  font-weight: bold;
  display: block;
}
.endereco{
  color: blue ;
  font-weight: bold;
  display: block;
}
.numero{
  color: blue ;
  font-weight: bold;
  display: block;
}
.cep{
  color: blue ;
  font-weight: bold;
  display: block;
}
.elementos-na-linha01{
  display: inline-block;
  vertical-align: top; /* Isso alinhará os elementos uf e cidadeNasc verticalmente*/
  margin-right: 150px;
}
.elementos-na-linha02{
  display: inline-block;
  vertical-align: top; /* Isso alinhará os elementos uf e cidadeNasc verticalmente*/
  margin-right: 165px;
}
.containerBotoes {
  display: flex;    
  justify-content: center;    
  margin-top: 10px;
}
.botao {
  justify-content: center;
  margin-left: 10px;
  margin-right: 10px;
}
.botaoInput {
  padding-right: 10px;
}
.fieldsetCadastro{
  border-radius: 20px;
  background-color: rgba(29, 111, 234, 0.568);
}
.fieldsetDadosPessoais{
  border-radius: 20px;
  background-color: white;
}
.fieldsetDadosEndereco{
  border-radius: 20px;
  background-color: white;
}
.espacoLabels{
  margin-bottom: 3px;
}